@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');


.main_text {
  color: #543a3a;
  text-align: center;
  font-size: 2em;
  font-style: initial;
  font-weight: bold;
  font-family: "Noto Sans JP", sans-serif;

  text-transform: lowercase;
  word-spacing: 20px;
  letter-spacing: 3px;
  line-height: 50px;
  text-decoration: line-through;
  cursor: copy;
}